#hideMe {
	-moz-animation: cssAnimation 0s ease-in 5s forwards;
	/* Firefox */
	-webkit-animation: cssAnimation 0s ease-in 5s forwards;
	/* Safari and Chrome */
	-o-animation: cssAnimation 0s ease-in 5s forwards;
	/* Opera */
	animation: cssAnimation 0s ease-in 5s forwards;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}
@keyframes cssAnimation {
	to {
		width:0;
		height:0;
		overflow:hidden;
	}
}
@-webkit-keyframes cssAnimation {
	to {
		width:0;
		height:0;
		visibility:hidden;
	}
}

a {
	text-decoration: none;
	color: #df4759
}

a:link {
	text-decoration: none;
	color: #df4759
}

a:hover {
	text-decoration: underline;
	color: #df4759
}

.dropdown-item:active {
	background-color: #df4759;
}

#override-link-color {
	color: white
}

body {
  position: relative;
}

p {
	font-size: 18px;
}

li {
	font-size: 18px;
}

#box {
  height: 100px;
  width: 200px;
  clear: both;
}

#date-label {
	font-size:.8em;
	font-weight: bold;
	color: #df4759;
}

.list-group-item.active {
	background-color: rgb(192, 192, 192);
	border: none;
}

#portfolio-card:hover {
  /* transform: scale(1.1); */
  background: lightgray !important;
}

#portfolio-title {
	font-family: 'Montserrat';
}

#navbar_top_login {
	background: #5c0000 !important;
}

#large_table {
	font-size: 20px;
}

#grayscale-img {
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
}

#sidebar-guidance {
	font-size: 1em;
	color: grey
}

#response-tools-explainer {
	font-size: .9em;
	color: grey
}

/* #invert-card-text:hover {
	color: white !important;
} */

#sims-blue {
	color: #011E41
}

.card-img-top {
	width: 100%;
	height: 15vw;
	object-fit: cover;
}

.btn-sm {
	font-size: 12px
}

#profile-button {
	font-size: 12px
}

.wrapper {
	display: inline-block;
	margin-top: 25px;
	position: relative;  
}

.wrapper img {
   display: block;
   max-width: 100%;
}

.wrapper .overlay {
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color: rgba(0,0,0,0.50);
	font-weight: bold;
	font-size: 1vw;
	/* font-size: min(max(1.5vw), 1vw); */
	color: #dbdbdb
}

h2.header {
	bottom: 0;
	position: absolute;
	/* background:rgba(67, 67, 67, 0.50); */
	padding-left: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
	font-size: 4em;
	font-family: 'Montserrat';
	width: 75%;
}

#navbar_top {
  border-bottom: 5px solid #890000;
}

#big-checkbox {
	width: 20px; 
	height: 20px;
}
