#hideMe {
	-moz-animation: cssAnimation 0s ease-in 5s forwards;
	/* Firefox */
	-webkit-animation: cssAnimation 0s ease-in 5s forwards;
	/* Safari and Chrome */
	-o-animation: cssAnimation 0s ease-in 5s forwards;
	/* Opera */
	animation: cssAnimation 0s ease-in 5s forwards;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}
@keyframes cssAnimation {
	to {
		width:0;
		height:0;
		overflow:hidden;
	}
}
@-webkit-keyframes cssAnimation {
	to {
		width:0;
		height:0;
		visibility:hidden;
	}
}

a {
	text-decoration: none;
	color: #df4759
}

a:link {
	text-decoration: none;
	color: #df4759
}

a:hover {
	text-decoration: underline;
	color: #df4759
}

.dropdown-item:active {
	background-color: #df4759;
}

#override-link-color {
	color: white
}

body {
  position: relative;
}

p {
	font-size: 18px;
}

#box {
  height: 100px;
  width: 200px;
  clear: both;
}

#date-label {
	font-size:.8em;
	font-weight: bold;
	color: #df4759;
}

.list-group-item.active {
	background-color: rgb(192, 192, 192);
	border: none;
}

#portfolio-card:hover {
  /* transform: scale(1.1); */
  background: lightgray !important;
}

#portfolio-title {
	font-family: 'Montserrat';
}

#navbar_top_login {
	background: #505050 !important;
}

#sidebar-guidance {
	font-size: 1em;
	color: grey
}

#response-tools-explainer {
	font-size: .9em;
	color: grey
}

/* #invert-card-text:hover {
	color: white !important;
} */

#sims-blue {
	color: #011E41
}

.card-img-top {
	width: 100%;
	height: 15vw;
	object-fit: cover;
}

.btn-sm {
	font-size: 12px
}

#profile-button {
	font-size: 12px
}