{% extends "layout.html" %}
{% block content %}

<div class="container">
	<div class="row my-5">
		<div class="col-lg-9">
			<h1 class='pb-5'>We support response operations with  <br><span class="text-danger typed"> </span></h1>
			<p>The <span class='fw-bold'>Surge Information Management Support (SIMS)</span> system was founded in 2014 to provide support to Red Cross Red Crescent Movement emergency responses around the world. </p>
			
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tristique posuere nibh et volutpat. Proin commodo ligula nisi, vitae scelerisque risus pulvinar ut. Aliquam odio felis, rhoncus sed lobortis pellentesque, ornare ac enim. Mauris elementum sit amet odio in imperdiet. Nam ultrices augue non ante placerat fermentum. Phasellus ut nibh non mi pretium viverra. Praesent nec quam ac mi dictum placerat vel pellentesque justo. Praesent commodo malesuada diam, vitae faucibus sem pretium in. Quisque vestibulum lobortis est vel luctus. Vivamus vitae nulla ac est consequat lacinia. Donec consectetur justo ut dolor dictum efficitur. Praesent volutpat ex vitae laoreet euismod. Nunc quis orci sit amet tellus fringilla bibendum ut at quam. Suspendisse nisl arcu, rhoncus a tempor et, hendrerit vel massa. In dapibus, elit id ullamcorper scelerisque, velit massa suscipit nunc, eget molestie ante nulla nec metus. Mauris consectetur ex non lectus commodo aliquam.</p>
			
			<img src='/static/assets/img/helicoptor-survey.jpg' class='img-fluid rounded pt-4 pb-5'>
			
			<p>orem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tristique posuere nibh et volutpat. Proin commodo ligula nisi, vitae scelerisque risus pulvinar ut. Aliquam odio felis, rhoncus sed lobortis pellentesque, ornare ac enim. Mauris elementum sit amet odio in imperdiet. Nam ultrices augue non ante placerat fermentum. Phasellus ut nibh non mi pretium viverra. Praesent nec quam ac mi dictum placerat vel pellentesque justo. Praesent commodo malesuada diam, vitae faucibus sem pretium in. Quisque vestibulum lobortis est vel luctus. Vivamus vitae nulla ac est consequat lacinia. Donec consectetur justo ut dolor dictum efficitur. Praesent volutpat ex vitae laoreet euismod. Nunc quis orci sit amet tellus fringilla bibendum ut at quam. Suspendisse nisl arcu, rhoncus a tempor et, hendrerit vel massa. In dapibus, elit id ullamcorper scelerisque, velit massa suscipit nunc, eget molestie ante nulla nec metus. Mauris consectetur ex non lectus commodo aliquam.</p>
		</div>
		<div class='col'>
			<h4 class='text-danger'>Activation Process</h4>
		</div>
	</div>
</div>
<div class='jumbotron fluid bg-light'>
	<div class='container py-1'>
		<div class="row g-5 row-cols-1 row-cols-lg-2">
  			<div class="feature col">
				<img src="/static/assets/img/activate.png" width="75" height="75" class="img-fluid mb-4" alt="Activations">
				<h2 class='text-danger'>32 Activations</h2>
				<p class='lead'>SIMS has been activated 32 times since its inception in 2014, most recently in support of the Ukraine Crisis response.</p>
  			</div>
  			<div class="feature col">
				<img src="/static/assets/img/members.png" width="75" height="75" class="img-fluid mb-4" alt="Responsive image">
				<h2 class='text-danger'>43 Members</h2>
				<p class='lead'>There are 43 active members of the SIMS network ready to provide support across a variety of technical areas.</p>
  			</div>
		</div>
	</div>
</div>
<div class='container'>
	<div class="row my-5">
		<div class="col-9">
			<p>orem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tristique posuere nibh et volutpat. Proin commodo ligula nisi, vitae scelerisque risus pulvinar ut. Aliquam odio felis, rhoncus sed lobortis pellentesque, ornare ac enim. Mauris elementum sit amet odio in imperdiet. Nam ultrices augue non ante placerat fermentum. Phasellus ut nibh non mi pretium viverra. Praesent nec quam ac mi dictum placerat vel pellentesque justo. Praesent commodo malesuada diam, vitae faucibus sem pretium in. Quisque vestibulum lobortis est vel luctus. Vivamus vitae nulla ac est consequat lacinia. Donec consectetur justo ut dolor dictum efficitur. Praesent volutpat ex vitae laoreet euismod. Nunc quis orci sit amet tellus fringilla bibendum ut at quam. Suspendisse nisl arcu, rhoncus a tempor et, hendrerit vel massa. In dapibus, elit id ullamcorper scelerisque, velit massa suscipit nunc, eget molestie ante nulla nec metus. Mauris consectetur ex non lectus commodo aliquam.</p>
			
			<p>orem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tristique posuere nibh et volutpat. Proin commodo ligula nisi, vitae scelerisque risus pulvinar ut. Aliquam odio felis, rhoncus sed lobortis pellentesque, ornare ac enim. Mauris elementum sit amet odio in imperdiet. Nam ultrices augue non ante placerat fermentum. Phasellus ut nibh non mi pretium viverra. Praesent nec quam ac mi dictum placerat vel pellentesque justo. Praesent commodo malesuada diam, vitae faucibus sem pretium in. Quisque vestibulum lobortis est vel luctus. Vivamus vitae nulla ac est consequat lacinia. Donec consectetur justo ut dolor dictum efficitur. Praesent volutpat ex vitae laoreet euismod. Nunc quis orci sit amet tellus fringilla bibendum ut at quam. Suspendisse nisl arcu, rhoncus a tempor et, hendrerit vel massa. In dapibus, elit id ullamcorper scelerisque, velit massa suscipit nunc, eget molestie ante nulla nec metus. Mauris consectetur ex non lectus commodo aliquam.</p>
		</div>
		<div class='col'>

		</div>
	</div>
</div>
{% endblock content %}