<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

{% extends "layout.html" %}
{% block content %}
	<div class="container">
		<div class="mt-4" id="hideMe">
			{% with messages = get_flashed_messages(with_categories=true) %}
				   {% if messages %}
					   {% for category, message in messages %}
						   <div class="alert alert-{{ category }}">
							   {{ message }} 
						   </div>
					   {% endfor %}
				   {% endif %}
			{% endwith %}
		</div>
		<div class="row mb-5">
			<div class='mb-5'>
			{% if count_active_assignments == 0 %}
				<h3 class="mt-5" style="font-family: 'Montserrat'">No Active Assignments</h3>
				<h5 class="text-secondary mb-5">It's a good time to work on your skills to be ready for the next SIMS activation! Check out the learning and development section to find useful resources.</h5>
				<hr>
			{% else %}
			<h3 class="mt-3" style="font-family: 'Montserrat'">Active Assignments <span class="badge rounded-pill bg-danger" id="smallbadge">{{count_active_assignments}}</span></h3>
			<h5 class="text-secondary mb-3">Members Currently Supporting Operations</h5>
			<table class='table table-striped table-hover'>
				<thead>
					<tr>
						<th>Member</th>
						<th>Affiliation</th>
						<th>Emergency</th>
						<th>Assignment</th>
						<th>Start</th>
						<th>End</th>
					</tr>
				</thead>
				<tbody>
					{% for assignment in active_assignments %}
						<tr>
							<td class="fw-bold"><a href="/profile/view/{{assignment.Assignment.user_id}}" class='link-danger'>{{assignment.User.firstname}} {{assignment.User.lastname}}</a></td>
							<td>{{assignment.NationalSociety.ns_name}}</td>
							<td><a href="/emergency/{{assignment.Assignment.emergency_id}}" class='link-danger'>{{assignment.Emergency.emergency_name}}</a></td>
							<td><a href='/assignment/{{assignment.Assignment.id}}'>{{assignment.Assignment.role}}</a></td>
							<td>{{assignment.Assignment.start_date}}</td>
							<td>{{assignment.Assignment.end_date}}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			{% endif %}
			</div>
			<div class='mb-5'>
			<h3 class="mb-4" style="font-family: 'Montserrat'">Data Overview</h3>
			<ul class="nav nav-tabs" id="dashboardNav" role="tablist">
				<li class="nav-item" role="presentation">
				<button class="nav-link active text-danger" id="assignments-emergency-tab" data-bs-toggle="tab" data-bs-target="#assignments-emergency" type="button" role="tab" aria-controls="assignments-emergency" aria-selected="true">Assignments by Emergency</button>
				</li>
				
				<li class="nav-item" role="presentation">
				<button class="nav-link text-danger" id="location-emergencies-tab" data-bs-toggle="tab" data-bs-target="#location-emergencies" type="button" role="tab" aria-controls="assignments-emergency" aria-selected="false">Global Response History</button>
				</li>

				<li class="nav-item" role="presentation">
				<button class="nav-link text-danger" id="products-emergency-tab" data-bs-toggle="tab" data-bs-target="#products-emergency" type="button" role="tab" aria-controls="products-emergency" aria-selected="false">Products by Emergency</button>
				</li>
				
			</ul>
			<div class="tab-content" id="dashboardContent">
				<div class="tab-pane fade" id="location-emergencies" role="tabpanel" aria-labelledby="location-emergencies-tab">
					<div class="map">
						<svg class='my-3' id="response-history-map" width='1300' height='700'></svg>
						
						<script>
						
						var svg = d3.select("svg"),
						  width = +svg.attr("width"),
						  height = +svg.attr("height");
						
						// Map and projection
						var path = d3.geoPath();
						var projection = d3.geoMercator()
						  .scale(150)
						  .center([0,20])
						  .translate([width / 2, height / 2]);
						
						// Data and color scale
						var data = d3.map();
						var colorScale = d3.scaleThreshold()
						  .domain([1, 2, 3, 4])
						  .range(d3.schemeReds[4]);
						
						// Load external data and boot
						d3.queue()
						  .defer(d3.json, "https://raw.githubusercontent.com/holtzy/D3-graph-gallery/master/DATA/world.geojson")
						  .defer(d3.csv, "/static/data/emergencies_viz.csv", function(d) { data.set(d.iso3, +d.count); })
						  .await(ready);
						
						function ready(error, topo) {
						
						  // Draw the map
						  svg.append("g")
							.selectAll("path")
							.data(topo.features)
							.enter()
							.append("path")
							  // draw each country
							  .attr("d", d3.geoPath()
								.projection(projection)
							  )
							  // set the color of each country
							  .attr("fill", function (d) {
								d.total = data.get(d.id) || 0;
								return colorScale(d.total);
							  });
							}
							
							
						
						</script>
						
						<h4 style="text-align:center">Find a full list of responses with links their respective pages on the <a href='/emergencies/all'>Emergencies</a> page.
						
					  </div>
				</div>
			  <div class="tab-pane fade show active" id="assignments-emergency" role="tabpanel" aria-labelledby="assignments-emergency-tab">
				  <br>
				  <canvas id='barChartAssignments' width='1200' height='300'></canvas>
				  <script>
					  var ctx = document.getElementById('barChartAssignments').getContext('2d');
					  var lineChart = new Chart(ctx, {
						  type: 'bar',
						  data: {
							  labels: {{ labels_for_assignment | safe }},
							  datasets: [{
								  label: "Assignments by Emergency, All Time",
								  data: {{ values_for_assignment | safe }},
								  fill: true,
								  backgroundColor: "#dc3545"
							  }]
						  },
						  options: {
							  responsive: true,
							  indexAxis: 'y',
							  scales: {
								  y: {
									  ticks: {
										  stepSize: 1
									  },
									  grid: {
										  display: false
									  }
									  
								  },
								  x: {
									  grid: {
										  display: false
									  }
								  }
								  
							  }
						  }
					  })
				  </script>
				  
			  </div>
			  <div class="tab-pane fade" id="products-emergency" role="tabpanel" aria-labelledby="products-emergency-tab">
				  <br>
					<canvas id='barChartProducts' width='1200' height='300'></canvas>
					<script>
						var ctx = document.getElementById('barChartProducts').getContext('2d');
						var lineChart = new Chart(ctx, {
							type: 'bar',
							data: {
								labels: {{ labels_for_product | safe }},
								datasets: [{
									label: "Products by Emergency, All Time",
									data: {{ values_for_product | safe }},
									fill: true,
									backgroundColor: "#dc3545"
								}]
							},
							options: {
								responsive: true,
								indexAxis: 'y',
								scales: {
									y: {
										ticks: {
											stepSize: 1
										},
										grid: {
											display: false
										}
										
									},
									x: {
										grid: {
											display: false
										}
									}
									
								}
							}
						})
					</script>
				  
			  </div>
			</div>
			</div>

		</div>
		

		
		<div class='row my-5 align-items-top'>
			<div class="col-lg-4 d-flex align-items-stretch">
				<div class="card text-white bg-danger mb-4 w-100">
					  <div class="card-header">Announcements and Reminders</div>
					  <div class="card-body">
						<h5 class="card-title fw-bold">Weekly SIMS Calls</h5>
							<p class="card-text mb-4">Calls take place Thursdays at 15:00 UTC on Zoom. <a href="https://britishredcross.zoom.us/j/207753634?pwd=dFUyRnNEOC9PazFkVVJ1VWx3MGM2UT09" class="fw-bold text-white"><u>Click to join.</u></a></p>
						<h5 class="card-title fw-bold">Mobile Data Training</h5>
							<p class="card-text mb-2">A mobile data collection training will be held online starting at 09:00 UTC on 28 February, 2022.</p>
					  </div>
				</div>
			</div>
			<div class='col-lg-4 d-flex align-items-stretch'>
					<div class="card text-dark bg-light bg-secondary mb-4 w-100">
					  <div class="card-header">Newest SIMS Members</div>
					  <div class="card-body text-dark">
						<table class="table table-sm">
						  <thead class="">
							<tr>
								  <th scope="col">Name</th>
								  <th scope="col">Affiliation</th>
							</tr>
						  </thead>
						  <tbody>
						{% for member in most_recent_members %}
							<tr>
								<td class="fw-bold"><a href="/profile/view/{{member.User.id}}" class="link-danger">{{member.User.firstname}} {{member.User.lastname}}</a></td>
								<td>{{member.NationalSociety.ns_name}}</td>
							</tr>
						{% endfor %}
						  </tbody>
						</table>
							
					  </div>
				</div>
			</div>
			<div class='col-4 d-flex align-items-stretch'>
					<div class="card text-dark bg-light bg-secondary mb-4 w-100">
					  <div class="card-header">Latest SIMS Emergencies</div>
					  <div class="card-body text-dark">
						<table class="table table-sm">
						  <thead class="text-dark">
							<tr>
								  <th scope="col">Event</th>
								  <th scope="col">GO</th>
							</tr>
						  </thead>
						  <tbody>
						{% for emergency in most_recent_emergencies %}
							<tr>
								<td class="fw-bold"><a href="/emergency/{{emergency.id}}" class="link-danger">{{emergency.emergency_name}}</a></td>
								<td><a href="https://go.ifrc.org/emergencies/{{emergency.emergency_go_id}}" class="link-secondary">{{emergency.emergency_go_id}}</a></td>
							</tr>
						{% endfor %}
						  </tbody>
						</table>
							
					  </div>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}

