{% extends "layout.html" %}
{% block content %}
<div class="container">
	<div class="row mb-5">
		<div class="col col-md-4">
			<div class="card border-0 p-4 bg-light">
				<h2 class="text-danger mb-1">{{ emergency_info.emergency_name}}</h2>
				<h4 class="text-secondary mb-4">{{emergency_type_name}}</h4>
				<div class="list-group">
					<a href="/assignment/new/{{emergency_info.id}}" class="list-group-item list-group-item-action text-secondary">Log New Assignment</a>
					  <a href="#" class="list-group-item list-group-item-action text-secondary">Create Learning Review</a>
					  <a href="https://go.ifrc.org/emergencies/{{ emergency_info.emergency_go_id }}" class="list-group-item list-group-item-action text-secondary">View Emergency on GO</a>
					  <a href="/emergency/edit/{{emergency_info.id}}" class="list-group-item list-group-item-action text-secondary">Edit Emergency</a>
					  <a href="#" class="list-group-item list-group-item-action text-danger">Delete Emergency</a>
				</div>
			</div>
			<div class="card border-0 p-4 bg-light">
				<h5 class="text-secondary py-3">Response Tools</h5>
				<div class="row justify-content-center">
					<div class="col" align="center"><img src="/static/assets/img/icons/slack.png" height="50px"></div>
					<div class="col" align="center"><img src="/static/assets/img/icons/dropbox.png" height="50px"></div>
					<div class="col" align="center"><img src="/static/assets/img/icons/trello.png" height="50px"></div>
				</div>
			</div>
		</div>
	
		<div class="col mx-4">
			<h3 class="text-danger">Activation Details</h3>
			<p class="pb-3">{{emergency_info.activation_details}}</p>
			<div class='mb-5'>
				<h3 class="mb-3 text-danger">Member Support<span class='text-dark'>{{ deployment_history_count }}</span></h3>
				{% if deployment_history_count == 0 %}
					No deployments yet.
				{% else %}
				<table class="table">
				  <thead class="">
					<tr>
					  <th>Member</th>
					  <th>National Society</th>
					  <th>Role</th>
					  <th>Start Date</th>
				
					</tr>
				  </thead>
				  <tbody>
					  {% for deployment in deployments %}
					  <tr>
						<td class="fw-bold"><a href="/profile/view/{{deployment.user_id}}" class="link-danger">{{deployment.firstname}} {{deployment.lastname}}</a></td>
						<td>{{deployment.ns_name}}</td>
						<td>{{deployment.role}}</td>
						<td>{{deployment.start_date}}</td>  
					  </tr>
					  {% endfor %}
				  </tbody>
				</table>
				{% endif %}
			</div>
			<h3 class="mb-3 text-danger">Response Portfolio Highlights</h3>
			<div class="row row-cols-3 row-cols-md-3 g-4 mt-4">
			{% for product in emergency_portfolio %}
				<div class="col d-flex align-items-stretch">
					<a href="/portfolio/view/{{product[0]}}">
					<div class="card" id='portfolio-card' style="width: 18rem;">
					  <img src="/static/assets/portfolio/{{product.final_file_location}}" class="card-img-top" alt="...">
					  <div class="card-body d-flex flex-column">
					  	<div class='pb-4'><button type="button" class="btn btn-secondary btn-sm">{{product.type}}</button></div>
						<h5 class="card-title mt-auto text-danger">{{product.title}}</h5>
						</a>
					  </div>
					</div>
				</div>
			{% endfor %}
			</div>
		</div>
	</div>
	
</div>
{% endblock content %}