{% extends "layout.html" %}
{% block content %}

<div class="container">

	<div class="row mt-5 mb-1">
		<div class="col jumbotron">
		  <h1 class='pb-3' style="font-family: 'Montserrat';" id='sims-blue'>We support operations with  <br><span class="text-danger typed"> </span></h1>
		  <p class="lead mt-5">SIMS is a global network of Information Management experts who support IFRC emergency response operations by providing a variety of services and products. We maintain a roster of specialists from around the world across several key areas of technical support, including GIS, data collection and management, data analysis and visualization, and much more.</p> 

		  <a href="/about" class="btn btn-danger mt-3" id="override-link-color">Learn More</a>
		</div>
		<div class="col-md-4 mr-4">
		<img src="/static/assets/img/landing-top.png" class="img-fluid mb-4 rounded-3" alt="Responsive image">
		</div>
	</div>
	

		<div class="row g-5 py-5 row-cols-1 row-cols-lg-3 mt-5 mb-6">
		  <div class="feature col">
			<img src="/static/assets/img/landing-remote.png" width="75" height="75" class="img-fluid mb-4" alt="Responsive image">
			<h4 class='text-danger'>Remote Support</h4>
			<p class='lead'>Our global network of information management specialists are ready to support tasks that can be done remotely. </p>
		  </div>
		  <div class="feature col"> 
			<img src="/static/assets/img/landing-deploy.png" width="75" height="75" class="img-fluid mb-4" alt="Responsive image">
			<h4 class='text-danger'>Field-Based Deployments</h4>
			<p class='lead'>SIMS members support disaster response operations through in-person deployments in a variety of Information Management roles. </p>
		  </div>
		  <div class="feature col">
			<img src="/static/assets/img/landing-sme.png" width="75" height="75" class="img-fluid mb-4" alt="Responsive image">
			<h4 class='text-danger'>Subject Matter Experts</h4>
			<p class='lead'>We maintain a roster of experts in a number of technical areas that can serve as technical advisors on blue-sky projects.</p>
		  </div>
		</div>

		<h3 class="text-danger" id='portfolio-title'>Latest Tweets</h3>
		<h5 class="text-secondary mb-4" id='portfolio-title'><a href='https://twitter.com/IFRC_SIMS'>@IFRC_SIMS</a></h5>
		<div class="row row-cols-3 g-5">
	  		{% for tweet in tweets %}
					<div class="col d-flex align-items-stretch">
			  			<div class="card bg-light">
							<div class="card-body d-flex flex-column">
				  				<h5 class=" mb-2">{{tweet.tweet}}</h5>
								  <small>{{tweet.created_at_year}}-{{tweet.created_at_month}}-{{tweet.created_at_day}}</small>
								  <br><br>
									<div class='mt-auto'>
										<a href='https://twitter.com/i/web/status/{{tweet.id}}'><button class='btn btn-sm btn-danger'>View</button></a> 
									</div>
							</div>
			  			</div>
					</div>
	  		{% endfor %}
		</div>
		
		<div class='row mb-6'>
		
		</div>

	<h3 class="text-danger mt-5" id='portfolio-title'>Latest Response Stories</h3>
	<div id="carouselStories" class="carousel slide mt-4 mb-5" data-ride="carousel">
	  <ol class="carousel-indicators">
		<li data-target="#carouselStories" data-slide-to="0" class="active"></li>
		<li data-target="#carouselStories" data-slide-to="1"></li>
		<li data-target="#carouselStories" data-slide-to="2"></li>
	  </ol>
	  	<div class="carousel-inner">
	  		{% for story in latest_stories %}
			<div class="carousel-item drk {% if loop.index == 1 %} active{% endif %}">
		  	<img class="d-block w-100 rounded rounded-5" src="/static/assets/img/stories/{{story.Story.header_image}}" alt="{{story.Emergency.emergency_name}}">
				<div class="carousel-caption d-none d-md-block">
					<h1 class='carousel-title'><a href='/story/{{story.Story.emergency_id}}'>{{story.Emergency.emergency_name}}</a></h1>
				</div>
			</div>
			{% endfor %}
	  	</div>
		  <a class="carousel-control-prev" href="#carouselStories" role="button" data-slide="prev">
			  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
			</a>
			<a class="carousel-control-next" href="#carouselStories" role="button" data-slide="next">
			  <span class="carousel-control-next-icon" aria-hidden="true"></span>
			</a>
	  </div>

	  
	  
</div>

</div>
{% endblock content %}