<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:Bold|Montserrat:Bold|Oswald">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	<title>SIMS</title>
</head>
<body class="d-flex flex-column min-vh-100" data-spy="scroll" data-target=".card" data-offset="50">
	<header>
	<nav id="navbar_top" class="navbar navbar-expand-md navbar-dark bg-danger navbar-static-top py-3">
	 <div class="container">
		 <img src='/static/assets/img/SIMS-Logo-Dark.png' height='50px'>&nbsp &nbsp
		{% if current_user.is_authenticated %}
			<a class="navbar-brand" href="/dashboard" style="font-family: 'Montserrat';">Surge Information Management Support</a>
		{% else %}
			<a class="navbar-brand" href="/" style="font-family: 'Montserrat';">Surge Information Management Support</a>
		{% endif %}
	  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav">
		  <span class="navbar-toggler-icon"></span>
		</button>
	  <div class="collapse navbar-collapse" id="main_nav">
		<ul class="navbar-nav ms-auto">
			{% if current_user.is_authenticated %}
				{% if request.path == '/dashboard' %}
					<li class="nav-item px-3"><button type="button" class="btn btn-light" style="font-family: 'Montserrat';">Dashboard</button></li>
				{% else %}
					<li class="nav-item px-3"><a class="nav-link text-light" href="/dashboard" style="font-family: 'Montserrat';"> Dashboard </a></li>
				{% endif %}
				{% if '/profile_edit/' in request.path %}
				<li class="nav-item px-3"> </li>
				
				{% elif request.path == '/profile' %}
					<li class="nav-item px-2"><button type="button" class="btn btn-light" style="font-family: 'Montserrat';">{{ current_user.firstname }}'s Profile</button></li>


				{% else %}
				<li class="nav-item px-2"><a class="nav-link text-light" href="/profile" style="font-family: 'Montserrat';"> {{ current_user.firstname }}'s Profile </a></li>

				{% endif %}
				
				

				<li class="nav-item ps-2"><a class="nav-link text-light" href="/logout" style="font-family: 'Montserrat';"> Logout </a></li>
			{% else %}
				<li class="nav-item px-2"><a class="nav-link text-light" href="/about" style="font-family: 'Montserrat';"> About </a></li>	
				<li class="nav-item px-2"><a class="nav-link text-light" href="#" style="font-family: 'Montserrat';"> Resources </a></li>
				<li class="nav-item px-2"><a class="nav-link text-light" href="/portfolio" style="font-family: 'Montserrat';"> Portfolio </a></li>
				<li class="nav-item px-2"><a class="nav-link text-light" href="/members" style="font-family: 'Montserrat';"> Members </a></li>
				<li class="nav-item ps-2"><a class="" href="/login"><button type="button" class="btn btn-outline-light" style="font-family: 'Montserrat';">Login</button></a></li>
			{% endif %}
		</ul>
	  </div> 
	</nav>
	{% if current_user.is_authenticated %}
	<nav id="navbar_top_login" class="navbar navbar-expand-sm box-shadow shadow-sm navbar-dark sticky-top mb-2">
	 <div class="container">
	  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav">
		  <span class="navbar-toggler-icon"></span>
		</button>
	  <div class="collapse navbar-collapse" id="main_nav">
			<ul class="navbar-nav ms-auto">
				{% if current_user.is_admin == 1 %}
					<li class="nav-item px-2"><a class="nav-link text-light" href="/admin" style="font-family: 'Montserrat';">Admin Portal</a></li>
				{% endif %}
				{% if '/emergencies' in request.path %}
					<li class="nav-item px-2"><button type="button" class="btn btn-light" style="font-family: 'Montserrat';">Emergencies</button></li>
				{% else %}
					<li class="nav-item px-2"><a class="nav-link text-light" href="{{ url_for('main.emergencies')}}" style="font-family: 'Montserrat';">Emergencies</a></li>
				{% endif %}
				{% if '/all_products' in request.path %}
					<li class="nav-item px-2"><button type="button" class="btn btn-light" style="font-family: 'Montserrat';">Portfolio</button></li>
				{% else %}
					<li class="nav-item px-2"><a class="nav-link text-light" href="{{ url_for('portfolios.all_products')}}" style="font-family: 'Montserrat';">Portfolio</a></li>
				{% endif %}
				{% if '/learning' in request.path %}
					<li class="nav-item px-2"><button type="button" class="btn btn-light" style="font-family: 'Montserrat';">Learning</button></li>
				{% else %}
					<li class="nav-item px-2"><a class="nav-link text-light" href="{{ url_for('main.learning')}}" style="font-family: 'Montserrat';">Learning</a></li>
				{% endif %}
				{% if '/resources' in request.path %}
					<li class="nav-item px-2"><button type="button" class="btn btn-light" style="font-family: 'Montserrat';">Resources</button></li>
				{% else %}
					<li class="nav-item px-2"><a class="nav-link text-light" href="{{ url_for('main.resources')}}" style="font-family: 'Montserrat';">Resources</a></li>
				{% endif %}
				
				{# 
				<li class="nav-item dropdown px-2">
					<a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-family: 'Montserrat';">View National Society</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					{% for country in countries %}
						<a class="dropdown-item" href="{{ url_for('ns_profile', id=country.ns_go_id) }}">{{country.country}}</a>
					{% endfor %}
					</div>
				</li>
				
				<li class="nav-item dropdown pl-3">
					<a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-family: 'Montserrat';">Create Record</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					  	<a class="dropdown-item" href="{{ url_for('emergencies.new_emergency') }}">New Emergency</a>
					  	<a class="dropdown-item" href="{{ url_for('assignments.new_assignment') }}">New Assignment</a>
					  	<a class="dropdown-item" href="#">New Review</a>
						</div>
				</li>
				#}
				
				{% if '/search' in request.path %}
					<li class="nav-item px-2"><button type="button" class="btn btn-light" style="font-family: 'Montserrat';">Search</button></li>
				{% else %}
					<li class="nav-item ps-2"><a class="nav-link text-light" href="{{ url_for('main.search')}}" style="font-family: 'Montserrat';">Search</a></li>
				{% endif %}
			</ul>
			
		</div>
		
	  </div> 
	 </div>
	</nav>
	{% endif %}
	</header>

	{% block content %}{% endblock %}
	
	<footer class="text-white text-center text-lg-start mt-auto" style='background: #505050'>
	  <!-- Grid container -->
	  <div class="container p-4">
		<!--Grid row-->
		<div class="row">
		  <!--Grid column-->
		  <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
			<h5 class="text-uppercase">Surge Information Management Support</h5>
	
			<p>
			  SIMS is a global network of information management specialists that provide remote and deployed support to IFRC disaster response operations.
			</p>
		  </div>
		  <!--Grid column-->
	
		  <!--Grid column-->
		  <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
			<h5 class="text-uppercase">Portal Info</h5>
			<ul class="list-unstyled mb-0">
			  <li>
				<a href="https://github.com/JonathanGarro/SIMS-Portal-Neo" class="text-white">Site Source Code</a>
			  </li>
			  <li>
				<a href="https://trello.com/b/zzwVdwoY/sims-portal-development-roadmap" class="text-white">Site Dev Roadmap</a>
			  </li>
			  <li>
				<a href="#!" class="text-white">Contact Administrator</a>
			  </li>
			</ul>
		  </div>
		  <!--Grid column-->
	
		  <!--Grid column-->
		  <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
			  <h5 class="text-uppercase">Useful Links</h5>
			  <ul class="list-unstyled mb-0">
				<li>
				  <a href="https://go.ifrc.org" class="text-white">IFRC GO Platform</a>
				</li>
				<li>
				  <a href="https://go.ifrc.org/deployments/catalogue/infoMgt" class="text-white">IM Surge Catalogue</a>
				</li>
				<li>
				  <a href="https://data.humdata.org" class="text-white">Humanitarian Data Exchange</a>
				</li>
			  </ul>
			</div>		  <!--Grid column-->
		</div>
		<!--Grid row-->
	  </div>
	  <!-- Grid container -->
	
	  <!-- Copyright -->
	  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
		Site source code and other assets are licensed under <a href='http://creativecommons.org/licenses/by-nc-sa/4.0/' class='text-light fw-bold'> Attribution-NonCommercial-ShareAlike 4.0 International</a> (CC BY-NC-SA 4.0)
		
	  </div>
	  <!-- Copyright -->
	</footer>
</body>
	<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
	<script>
		var typed = new Typed(".typed",{
		strings: [,  "affected area basemaps.","achievement infographics.","mobile data collection.", "data analysis.", "dashboard creation.", "web visualizations."] ,
		typeSpeed: 20,
		backSpeed: 50,
		backDelay: 1500,
		loop: true
	
		})
	</script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/@popperjs/core@2"></script>
	<script src="{{url_for('static', filename='js/scripts.js')}}"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
</html>

