{% extends "layout.html" %}
{% block content %}
<div class="container">
	<div class="row my-5">
		<div class="col col-md-4 rounded rounded-3">
			<div class="card border-0 p-4 bg-light">
				<div class="row">

					<h3 class="text-danger mb-5" id='portfolio-title'>{{ product.Portfolio.title }}</h3>
				</div>
				<div class="row">
					<h5 class="text-secondary mt-4">Creator</h5>
					<h4><a href="/profile/view/{{product.Portfolio.creator_id}}" class="text-danger">{{ product.User.firstname }} {{ product.User.lastname }}</a></h4>
				</div>
				<div class="row">
					<h5 class="text-secondary mt-4">Emergency Response</h5>
					<h4><a href={{url_for('emergencies.view_emergency', id=product.Portfolio.emergency_id)}} class='text-danger'> {{ product.Emergency.emergency_name}}</a></h4>
					<h6><a href='https://go.ifrc.org/emergencies/{{product.Emergency.emergency_go_id}}' class='text-danger'>View on GO Platform</a></h6>
				</div>

				<div class="row">
					<h5 class="text-secondary mt-4">Description</h5>
					<p>{{ product.Portfolio.description}}</p>
				</div>
				<div class="row">
					<h5 class="text-secondary mt-4">Final Product</h5>
					<p><a href='/portfolio/download/{{product.Portfolio.id}}' class="btn btn-sm btn-danger mt-1" id="override-link-color">Download</a></p>
				</div>
				{% if product.Portfolio.asset_file_location and current_user.is_authenticated %}
				<div class="row">
					<h5 class="text-secondary mt-4">Source Files</h5>
					<p><a href='https://{{product.Portfolio.asset_file_location}}' class="btn btn-sm btn-danger mt-1" id="override-link-color">Access</a></p>
				</div>
				{% endif %}
				{% if current_user.is_admin == 1 or current_user.id == product.User.id %}
				<div class="list-group mt-5">
					  <a href="#" class="list-group-item list-group-item-action text-danger" data-toggle="modal" data-target="#confirm-delete">Delete Product</a>
					  <!-- Modal -->
						<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
							<div class="modal-dialog modal-dialog-centered" role="document">
							  <div class="modal-content">
								<div class="modal-header">
								  <h5 class="modal-title" id="exampleModalLongTitle">Delete This Product?</h5>
								  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								  </button>
								</div>
								<div class="modal-body">
								  <span>Are you sure you want to delete this product? It will be removed from the portfolio but remain accessible to administrators.</span>
								</div>
								<div class="modal-footer">
								  <button type="button" class="btn btn-secondary" data-dismiss="modal">Nevermind</button>
								  <a href="/portfolio/delete/{{product.Portfolio.id}}"><button type="button" class="btn btn-danger">Delete</button></a>
								</div>
							  </div>
							</div>
						  </div>
				</div>
				{% endif %}
			</div>
		</div>
		<div class="col mx-4">
			<div class='mb-5'>
				{% if alt_thumbnail %}
				<img src='/static/assets/portfolio/{{alt_thumbnail}}' width='100%'>
				{% else %}
				<img src='/static/assets/portfolio/{{product.Portfolio.final_file_location}}' width='100%'>
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endblock content %}