{% extends "layout.html" %}
{% block content %}
<div class="container">
	<div class="" id="hideMe">
		{% with messages = get_flashed_messages(with_categories=true) %}
   			{% if messages %}
	   			{% for category, message in messages %}
		   			<div class="alert alert-{{ category }}">
			   			{{ message }} 
		   			</div>
	   			{% endfor %}
   			{% endif %}
		{% endwith %}
	</div>
	<div class="row mb-5">
		<div class="col col-md-4 rounded rounded-3">
			<div class="card border-0 p-4 bg-light">
				<div class="row">
					<img src="{{ profile_picture }}" class="" style="object-fit:none;object-position:center;width:100%;padding-bottom:30px;">
				</div>
				<div class="row">
					<h3 class="text-danger">{{ current_user.firstname }} {{ current_user.lastname }}</h3>
				</div>
				<div class="row">
					<h5 class="text-secondary mt-4">Role</h5>
					<h4>{{ current_user.job_title }}</h4>
				</div>
				<div class="row">
					<h5 class="text-secondary mt-4">National Society</h5>
					<h4>{{ ns_association }}</h4>
				</div>
				<div class="list-group mt-5">
			  		<a href="{{ url_for('update_profile') }}" class="list-group-item list-group-item-action text-secondary">Update Profile</a>
			  		<a href="#" class="list-group-item list-group-item-action text-secondary">Assign to Disaster</a>
			  		<a href="#" class="list-group-item list-group-item-action text-secondary">Add to Portfolio</a>
			  		<a href="#" class="list-group-item list-group-item-action text-danger">Delete Member</a>
				</div>
			</div>
		</div>
		<div class="col mx-4">
			<h4 class="mb-3">Operations Supported</h4>
			<table class="table">
			  <thead class="">
				<tr>
				  <th>Event</th>
				  <th>Role</th>
				  <th>Start Date</th>
			
				</tr>
			  </thead>
			  <tbody>
				  {#
				  {% for assignment in assignments %}
				  <tr>
					<td class="fw-bold"><a href="/view/emergency/{{assignment.emergency_id}}" class="link-danger">{{assignment.emergency_name}}</a></td>
					<td>{{assignment.role}}</td>
					<td>{{assignment.start_date}}</td>  
				  </tr>
				  {% endfor %}
				  #}
			  </tbody>
			</table>
			<h4 class="mt-5 mb-3">Portfolio Highlights</h4>
			PLACEHOLDER
			<h4 class="mt-5 mb-3">Achievements</h4>

		</div>
		
	</div>
</div>
{% endblock content %}