{% extends "layout.html" %}
{% block content %}
<div class="container">
	<div class="" id="hideMe">
		{% with messages = get_flashed_messages(with_categories=true) %}
			   {% if messages %}
				   {% for category, message in messages %}
					   <div class="alert alert-{{ category }}">
						   {{ message }} 
					   </div>
				   {% endfor %}
			   {% endif %}
		{% endwith %}
	</div>
	<div class="row my-5">
		<div class="col col-md-4 rounded rounded-3">
			<div class="card border-0 p-4 bg-light">
				<div class="row">
					<img src="{{ profile_picture }}" class="img-fluid mb-4" >
				</div>
				<div class="row">
					<h2 class="text-danger">{{ user_info.firstname }} {{ user_info.lastname }}</h2>
				</div>
				<div class="row">
					<h5 class="text-secondary mt-4">Role</h5>
					<h4>{{ user_info.job_title }}</h4>
				</div>
				<div class="row">
					<h5 class="text-secondary mt-4">National Society</h5>
					<h4>{{ ns_association }}</h4>
				</div>
				
				<div class="row">
					<div>
					<h5 class="text-secondary mt-4">Skills</h5>
					{% for skill in skills_list %}
						<button type="button" class="btn btn-danger btn-sm mb-2">{{skill.name}}</button>
					{% endfor %}
					</div>
				</div>
				
				<div class="row">
					<div>
					<h5 class="text-secondary mt-4">Languages</h5>
					{% for language in languages_list %}
						<button type="button" class="btn btn-danger btn-sm mb-2">{{language.name}}</button>
					{% endfor %}
					</div>
				</div>
				
				{% if current_user.is_admin == 1 %}
				<div class="list-group mt-5">
					  <a href="{{ url_for('users.update_profile') }}" class="list-group-item list-group-item-action text-secondary">Update Profile</a>
					  <a href="#" class="list-group-item list-group-item-action text-secondary">Assign to Disaster</a>
					  <a href="#" class="list-group-item list-group-item-action text-secondary">Add to Portfolio</a>
					  <a href="#" class="list-group-item list-group-item-action text-danger">Delete Member</a>
				</div>
				{% endif %}
			</div>
		</div>
		<div class="col mx-4">
			<div class='mb-5'>
				<h4 class="mb-3 text-danger">About {{ user_info.firstname }}</h4>
				{{ user_info.bio }}
			</div>
			<div class='mb-5'>
				<h4 class="mb-3 text-danger">Operations Supported: <span class='text-dark'>{{ deployment_history_count }}</span></h4>
				{% if deployment_history_count == 0 %}
					No deployments yet or remote support provided yet.
				{% else %}
				<table class="table">
				  <thead class="">
					<tr>
					  <th>Event</th>
					  <th>Role</th>
					  <th>Start Date</th>
				
					</tr>
				  </thead>
				  <tbody>
					  {% for assignment in assignment_history %}
					  <tr>
						<td class="fw-bold"><a href="/emergency/{{assignment.Emergency.id}}" class="link-danger">{{assignment.Emergency.emergency_name}}</a></td>
						<td>{{assignment.Assignment.role}}</td>
						<td>{{assignment.Assignment.start_date}}</td>  
					  </tr>
					  {% endfor %}
				  </tbody>
				</table>
				{% endif %}
			</div>
			<div class='mb-5'>
				<h4 class="mb-3 text-danger">Portfolio Highlights</h4>
				<div class="row row-cols-3 row-cols-md-3 g-4 mt-4">
				{% for product in user_portfolio %}
					<div class="col d-flex align-items-stretch">
						<div class="card" style="width: 18rem;">
						  <img src="/static/assets/portfolio/{{product.Portfolio.final_file_location}}" class="card-img-top" alt="...">
						  <div class="card-body d-flex flex-column">
							<h5 class="card-title mt-auto">{{product.Portfolio.title}}</h5>
							
							<a href="/portfolio/view/{{product.Portfolio.id}}" class="mt-5 btn btn-outline-danger">View</a>
						  </div>
						</div>
					</div>
				{% endfor %}
				</div>
			</div>
			<div class='mb-3'>
			<h4 class="mb-4 text-danger">Badges</h4>
			<div class="row">
				<div class="col">
					<img src='/static/assets/img/badges/Maiden-Voyage.png' class="img-fluid">
				</div>
				<div class="col">
					<img src='/static/assets/img/badges/Fast-Turnaround.png' class="img-fluid">
				</div>
				<div class="col">
					<img src='/static/assets/img/badges/Polyglot.png' class="img-fluid">
				</div>
				<div class="col">
					<img src='/static/assets/img/badges/World-Traveler.png' class="img-fluid">
				</div>
			</div>
			</div>

		</div>
		
	</div>
</div>
{% endblock content %}