{% extends "layout.html" %}
{% block content %}
<div class='container'>
	<div class="mt-2" id="hideMe">
		{% with messages = get_flashed_messages(with_categories=true) %}
			   {% if messages %}
				   {% for category, message in messages %}
					   <div class="alert alert-{{ category }}">
						   {{ message }} 
					   </div>
				   {% endfor %}
			   {% endif %}
		{% endwith %}
	</div>
	<div class="wrapper">
		{% if story_data.header_image %}
			<img src="/static/assets/img/stories/{{story_data.header_image}}" class='img-fluid'/>
			{% else %}
			<img src="/static/assets/img/stories/default-banner.jpg" class='img-fluid'/>
		{% endif %}
		<div class="overlay">
			<h2 class="header">{{emergency_name.Emergency.emergency_name}}</h2>
		</div>
	</div>
	<figcaption class="figure-caption">{{story_data.header_caption}}</figcaption>
	
	<div class='card px-5 py-4 bg-light my-5 border-0 rounded'>
		<div class="row g-5 row-cols-1 row-cols-lg-3 ">
			  <div class="feature col">
				<img src="/static/assets/img/members.png" width="75" height="75" class="img-fluid mb-4" alt="Responsive image">
				<h4 class='text-danger'>{{members_supporting}} Members</h4>
				<p class='lead'>provided support to the response</p>
			  </div>
			  <div class="feature col">
				<img src="/static/assets/img/calendar.png" width="75" height="75" class="img-fluid mb-4" alt="Activations">
				<h4 class='text-danger'>{{sum_days}} Days</h4>
				<p class='lead'>of remote and deployed support time</p>
			  </div>
			  <div class="feature col">
				  <img src="/static/assets/img/products.png" width="75" height="75" class="img-fluid mb-4" alt="Activations">
				  <h4 class='text-danger'>{{products_created}} Products</h4>
				  <p class='lead'>created and publicly available</p>
				</div>
		</div>
	</div>
	
	<div class='row mb-4'>
	<h2 class='text-danger my-3'>Response Overview</h2>
	{{story_data.entry|markdown}}
	</div>
	
</div>
{% endblock content %}